<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
      <div class="wrapper">
        <div class="title">P r o d u c t - D e t a i l s</div>
        <div class="form">
          <div class="inputfield">
            <label>Product Name</label>
            <input
              type="text"
              class="input"
              style="background-color: #f2f2f2"
              placeholder="Enter Product..."
            />
          </div>
          <!-- <div class="inputfield">
            <label>Category</label>
            <div class="custom_select">
              <select style="background-color: #f2f2f2; color: grey">
                <option value="">Select Category...</option>
                <option value="male">Category 1</option>
                <option value="female">Category 2</option>
              </select>
            </div>
          </div> -->
          <div class="inputfield">
            <label>Price</label>
            <input
              type="number"
              class="input"
              style="background-color: #f2f2f2"
              placeholder="Enter Price..."
            />
          </div>
          <div class="inputfield">
            <label>Quantity</label>
            <input
              type="number"
              class="input"
              style="background-color: #f2f2f2"
              placeholder="Enter Quantity..."
            />
          </div>

          <div class="inputfield">
            <label>Discount Type</label>
            <div class="custom_select">
              <select style="background-color: #f2f2f2; color: grey">
                <option value="">Select Type...</option>
                <option value="male">Type 1</option>
                <option value="female">Type 2</option>
              </select>
            </div>
          </div>
          <div class="inputfield">
            <label>Discount</label>
            <input
              type="text"
              class="input"
              style="background-color: #f2f2f2"
              placeholder="Enter Discount..."
            />
          </div>
          <div class="inputfield">
            <label>Description</label>
            <textarea
              class="textarea"
              style="background-color: #f2f2f2"
              placeholder="Enter Description..."
            ></textarea>
          </div>
          <div class="row">
            <div class="col-sm-3 labelstatus">Status</div>
            <div class="col-sm-9">
              <label class="toggle">
                <input type="checkbox" id="cToggle" />
                <span class="slider"></span>
              </label>
            </div>
          </div>

          <!-- <div class="inputfield">
            <label class="switch">
              <input type="checkbox" checked />
              <span class="slider round"></span>
            </label>
          </div> -->

          <div class="inputfield">
            <button class="button" style="vertical-align: middle">
              <span>Click Here To Add Images</span>
            </button>

            <!-- <input
              type="button"
              style="vertical-align: middle"
              class="button"
              value="Click To Add Images"
            /> -->
          </div>
          <!-- <div class="box-3">
            <div class="btn btn-three">
              <span>HOVER ME</span>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
