*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar{
  background: rgb(5, 68, 104);
  top:0;
  left:0;
  height: 100vh;
  //position:fixed;
}

.sidebar ul li a{
  display: block;
   padding: 13px 30px;
   border-bottom: 1px solid #10558d;
   color: rgb(241, 237, 237);
   font-size: 16px;
   position: relative;
   transition: all 0.4s ease;
}

  .sidebar ul li a .icon{
   color: #dee4ec;
   width: 30px;
   display: inline-block;
 }

 .sidebar ul li a:hover
  //,.sidebar ul li a.active
  {
     color: #0c7db1;

     background:white;
     border-right: 2px solid rgb(5, 68, 104);
 }

 .sidebar ul li a:hover .icon
// ,.sidebar ul li a.active .icon
{
     color: #0c7db1;
 }

 .sidebar ul li a:hover:before

// , .sidebar ul li a.active:before
{
     display: block;
}


.table-header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
   align-items: center;
   text-align: center;
  background-color: #575757;
  border-radius: 15px 15px 0px 0px;
  color: #fff;
}

.table-body{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
   align-items: center;
   text-align: center;
   border:1px solid black;
   border-top: none;

}

.table-body:last-child{
  border-radius: 0px 0px 15px 15px;
}

.table-row{
  align-self: center;
  justify-content: space-around;
}

.chehehe{
  align-self: center;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #FF3D65;
  width: 1.50em;
  height: 1.50em;
  border: 0.20em solid #FF3D65;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: inline-grid;
  place-content: center;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #FF3D65;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  vertical-align: middle;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.arrow-icon {
  font-size: 2em;
  color:#2C8CEC;
  cursor: pointer;
  transition: 0.15s;
}

.arrow-icon:hover{
  font-size: 2.5em;
}

.delete-icon{
  font-size: 2em;
  // color:#FF3D65;
  color:red;
  cursor: pointer;
  transition: 0.15s;
}

.delete-icon:hover{
  font-size: 2.5em;
}

.image-div{
 height:150px;
 width: 100%;

}

.table-image{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-input-button{
  -webkit-appearance: none;
  background-color: transparent;
  color:#FF3D65;
  border:2px solid #FF3D65 !important;
  border-radius: 12px;
  width: 170px;
  transition: 0.5s;
  font-weight: 600;
}

.image-input-button:hover{
  background-color: #FF3D65;
  color: #fff;
  border:none;
}

.upload-image-form{
display: flex;
flex-direction: row;
}

input[type=file]
{
  width: 30%;
  border:0.5px solid #575757;
  border-radius: 12px;
}
input[type=file]::file-selector-button {
  //border-top:1px solid #575757;
  //border:1px solid #575757;
  padding:10px;
  background-color: #575757;
  color:#fff;
  border-radius: 12px;
  width: 170px;
  cursor: pointer;
  margin-right: 25px;
}









